.container-utama {
    background-image: linear-gradient(to right, rgb(64, 26, 233), rgb(160, 144, 234));
}

.form-signUp {
    width: 500px;
    height: 700px;
    border: 0px solid rgba(107, 104, 104, 0.31);
    justify-content: center;
    padding: 18px;
    gap: 10px;
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#name {
    margin-bottom: 5px;
}

#username {
    margin-bottom: 5px;
}

/* .name-allice::before {
    content: "";
    display: block;
    background: url(../../../public/A.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
    margin: 8px 8px 0 0;
} */

.section-gambar {
    box-sizing: border-box;
    width: 40vw;
    height: 100vh;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.section-gambar .allice {
    padding: 10px;
    width: 400px;
    text-align: start;
    /* border: 1px solid black; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-left: 30px;
}

.allice {
    color: #ffff;
}

.allice .enjoy {
    font-size: 15px;
}

.allice .enjoy {
    font-size: 15px;
    margin-right: 5px;
}

.section-login {
    box-sizing: border-box;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* padding-right: 200px; */
    /* border: 1px solid black; */
}

.form-username {
    margin: 40px 0 15px 0;
}

.form-username label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-password {
    margin-bottom: 25px;
    outline: none;
    border: none;
}

.form-password #password {
    margin-bottom: 15px;
}


.form-password label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;

}

input[type="button"] {
    /* width: 150px; */
    height: 45px;
    border: none;
    outline: none;
    background: transparent;
    background-color: rgb(199, 12, 161);
    text-align: center;
    border-radius: 10px;
}

input[type="button"]:hover {
    background-color: rgb(229, 13, 186);
}

.form-login a {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.form-last a {
    color: black;
    text-decoration: none;
}

.form-last a:hover {
    text-decoration: underline;
}

.checkBox #confirm {
    margin-top: -18px;
    margin-right: 7px;
    justify-content: space-between;
}

.checkBox {
    margin-bottom: 5px;
}

.back-login {
    position: absolute;
    right: 10px;
    top: 20px;
    /* border: 1px solid black; */
}